/* Coraz칩n de la p치gina */

html,body{ 
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin: 0;
	padding: 0; 
	background: #494949;
}
	
header{
	width: 100%;
	height: 100px;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fff 20%, #131414 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(20%,#fff), color-stop(20%,#131414)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #fff 20%,#131414 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #fff 20%,#131414 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #fff 20%,#131414 20%); /* IE10+ */
	background: linear-gradient(135deg,  #fff 20%,#131414 20%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#131414',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}	
/* Secci칩n de cycle */
#cycle,#cycle-static{
	display: block;
	float: left;
	width: 100%;
	height: 400px;
	border-radius: 0 0 10px 10px; 
	background: #131414;
	margin-top: 30px;
	}

#cycle-static{
	display: none;
	height: 250px;}	

#contslider{ width: 90%; height: 90%;  border-radius:  3px; margin: 2.5% 5% 2.5% 5%;  }

#contslider img{ width: 100%; height: 100%; border-radius: 3px;}

/* Logotipos y m치s */	
#logo{
	float: left;
	width: 30%;
	height: 120px;}	
	
#logo hgroup h1{
	position: relative;
	text-indent:-9999px;
	 margin:0 auto; width:100%; height:120px;
	 background:transparent url("../images/alternative3.png") no-repeat scroll; }	
	
#info{
	float: left;
	width: 70%;
	height: 100px;}

#info nav{
	width: 100%; 
	height: auto;  
	font-family: 'Fjalla One', sans-serif;
   	font-weight: 300;
	display: inline-block;
	text-align: center;
	margin-top: 40px; }

#info nav ul li{
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	padding: 0 0 15px 0;
	width: 15.66%;
	text-align: center;}

#info nav ul li:hover{
	cursor: pointer;}

#info nav ul li:hover a{color: #00A9FF;}

#info nav ul li a{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	font-weight: 590;
	color: #FFFFFF;
	text-decoration: none;}

#info nav ul .denom{
	color: #00A9FF;}		

/* Secciones de footer JAVI */

#pre-footer{
	background: #222222;
	width: 100%;
	color: white;
	display: inline-block;}

#in{width: 75%;
	margin-left: 12%;}

#in section{
	width: 32%;
	padding-left: 5px;
	float: left;
	vertical-align: middle;}

.enca{
	width: 100%;
	height: 25%;
	text-decoration: none;
	list-style: none;
	text-align: center;}

#mh{color: #00A9FF;}

.cont{
	width: 100%;
	height: 70%;
	font-size: 13px;
	border-top: 1px solid #C7C7C7; }

.cont p{
	padding: 10px;}
	
#nav li{
	display: block;
	padding-bottom: 5px;
	vertical-align: middle;}

#nav  li:hover a{
	color: #00A9FF;
	cursor: pointer;	}

#nav  li a{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	text-decoration: none;
	color: white;}

#nav li:first-child a{color: #00A9FF;}

#contact{
	width: 100%;
	padding-right: 5px;
	text-align: right;
	list-style: none;}

#contact #mov{
	margin-right: 10px;
	vertical-align: middle;
	padding: 0;}

#mail{color: #00A9FF;}

#contact p{
	padding: 0;
	margin-right: 30px;}

/*Estilos del footer*/
footer{
	margin-top:-5px; 
	float: left;
	width: 100%;
	height: 60px;
	font-size: 14px;
	color: white;
	background: #000000;
	text-align: center;}

#copy{
	width: 50%;
	height:60px;}

#copy a{  	
	text-decoration: none;
	position: relative;
	top: 20%;
	color: white;}

#social{
	width: 50%;
	height:60px;}

#social img{padding-top: 15px;}

#social a:first-child img{margin-left: 50%;}

/*Fin del footer*/




