/* Index --> http://mirrorwebhost.com */



/* Article y Secciones  */

#cuerpo{
width: 75%;
margin: 0 auto;
	}

#secciones{margin: 30px 0 30px 0; width: 100%; }

#secciones section,div {float: left; }


/* Seccion introductoria */


#llamativ{

	width: 100%;
	border-bottom: 1px dotted #EAEAEA;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

#llamativ h2{
	position: relative;
	left: 15px;
 color: #0F9FFF;
 letter-spacing: -2px;
 font-size: 30px;
 width: 20%;
 float: left;
}

#llamativ h2 a{
	color: white;
}


#llamativ p{
	font-size: 14px;
	left: 60px;
	color: white;
	text-align: center;
	position: relative;
	float: left;
	width: 32%;
}

/* Botono MirrorHosting */

#llamativ .btn-naranja{
	position: relative;
	float: left;
	left: 160px; 
	top: 40px;
	width: 35%;

}

.btn-naranja img{
	position: absolute;
	left: -68px;
	top: -68px;
	z-index: 2;
}


.btn-naranja a{
	font-size: 18px;
	color: white;
	padding: 20px 20px 20px 65px;
	border-radius: 8px;
	text-decoration: none;
background: rgb(247,176,34); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,176,34,1) 0%, rgba(244,80,2,1) 84%, rgba(244,80,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,176,34,1)), color-stop(84%,rgba(244,80,2,1)), color-stop(100%,rgba(244,80,2,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b022', endColorstr='#f45002',GradientType=0 ); /* IE6-9 */




}

.btn-naranja a:hover{
	background: #F45002;
}

/* Secciones centrales */

/* Introductorios */
#impts{
	width: 60%;
	margin-top: 20px;
	}



#impts section{
	float: left;
	position: relative;
}

#impts section h2{
	width: 100%;
   font-weight: 500;
	text-align: left;
	font-size: 26px;
	letter-spacing: -1px;
	color: #0F9FFF;
	
}	 


.prevista{
	width: 60%;
	height: 250px;
	margin: 0 0 0 0;
	padding-top: 15px;
}
.prevista img{
	float: left;
	width: 100%;
}

#impts p{
	width: 60%;
	color: #EAEAEA;
	font-size: 15px;

}

#impts a{
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 5px;
	width: 20%;
	padding: 10px;
	border-radius:5px; 
	background: rgb(247,176,34); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(247,176,34,1) 0%, rgba(244,80,2,1) 84%, rgba(244,80,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,176,34,1)), color-stop(84%,rgba(244,80,2,1)), color-stop(100%,rgba(244,80,2,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(247,176,34,1) 0%,rgba(244,80,2,1) 84%,rgba(244,80,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b022', endColorstr='#f45002',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-decoration: none;
}

#impts a:hover{
	background: #F45002;
	
}


#contenido,#why {
width: 100%;	
	 }

#why { 
margin-top: 15px;
	}


/* Aside de redes sociales */
#media{
	float: left;
	width: 37%;
	margin-left: 2%;
	margin-top: 40px;
	}

/* Secciones de facebook */
#facebook {
	
width: 100%;
height: 420px;	
background: white;	
	 }


/* Secciones de twitter */
#twt { 
margin-top: 65px;
width: 100%;
height: 400px;		
background: green;
}