/*-------------- Article y Secciones ---------------- */

#cuerpo{width: 75%;margin: 0 auto;}

#secciones{margin: 30px 0 30px 0; width: 100%; }

#secciones section,div {float: left; }



/*-------------- Formulario de contacto ---------------- */
#form-container{
	width: 80%;
	height:600px;
	margin:0 auto;
	

}
.form-contact{
	
	width: 50%;
	height: 100%;
	margin-left: 50%;
	position:relative;
	color:#0F9FFF;
	font-family: fantasy;
	font-weight: normal;
	font-size: 20px;
	
}

.form-contact input{
	border-radius: 15px;
	border: solid #ccc 1px;
	height:25px;
	margin:15px;
	width: 50%;
	color: #2b2b2b;
}
.form-contact input:focus ,textarea:focus{
	box-shadow: 0px 0px  10px 2px #0F9FFF;
}

.form-contact textarea{
	height: 50%;
	width: 70%;
}
.form-contact button{
	background:#0F9FFF;
	border: #0f9fff solid 2px;
	color: #ededed;
	cursor: pointer;
	padding: 6px;
	width: 120px;
}

/*-------------- Contacto INFO ---------------- */

.form-images-container{
	height:450px;
	margin-top:-40%;
	margin-left:250px;
	position: relative;	
	width:20%;


}
.form-container-root{
	background:#eef;
	border-radius:5px;
	border:2px solid #ccc;
	position: relative;
	padding: 10px;
	margin-top:5px;
	
}
.images-contacto{
	background-size:100%;
	background: url(http://placehold.it/220x200);
	background-repeat: none;
	height: 200px;
	
	text-align:center;
	width: 100%;
	
}


.form-images-info{
	background: rgba(0,0,0,0.5);
	position: relative;
	top:60%;
	color:#eee;
	width:100%; 
}


