/*-------------- Article y Secciones ---------------- */

#cuerpo{width: 75%;margin: 0 auto;}

#secciones{margin: 30px 0 30px 0; width: 100%; }

#secciones section,div {float: left; }



/*-------------- Formulario de contacto ---------------- */
#form-container{
	width: 1224px;
	height:600px;
	margin:20px auto;
	clear:both;

}
.form-contact{
	
	width: 50%;
	height: 100%;
	
	color:#0F9FFF;
	font-family: fantasy;
	font-weight: normal;
	font-size: 20px;
	float:right;
}

.form-contact input{
	border-radius: 15px;
	border: solid #ccc 1px;
	height:25px;
	margin:15px;
	width: 50%;
	color: #2b2b2b;
}
.form-contact input:focus ,textarea:focus{
	box-shadow: 0px 0px  10px 2px #0F9FFF;
}

.form-contact textarea{
	height: 50%;
	width: 70%;
}
.form-contact button{
	background:#0F9FFF;
	border: #0f9fff solid 2px;
	color: #ededed;
	padding: 6px;
	width: 120px;
}

/*-------------- Contacto INFO ---------------- */

.form-images-container{
	height:400px;
	margin:20px auto;
	padding: 15px;
	position: relative;	
	width:220px;


}
.form-container-root{
	background:#eef;
	border-radius:5px;
	border:2px solid #ccc;
	margin:20px auto;
	padding: 10px;
	
}
.images-contacto{
	background-size:100%;
	background: url(http://lorempixel.com/200/200/sports/1/rodrigo/);
	background-repeat: none;
	height: 200px;
	margin: 10px auto;
	text-align:center;
	width: 100%;
	
}


.form-images-info{
	background: rgba(0,0,0,0.5);
	position: relative;
	top:60%;
	color:#eee;
	width:100%; 
}
.form-images-info:hover {

}

/*-------------- RESPONSIVE Design ---------------- */ 

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	/* Styles */
	#form-container{
		width:100%;
		
	}
	.form-contact {
		width: 100%;
		float:left;
		margin-left:15px;
	}
	.form-contact input {
		width:200px;
	}
	.form-contact textarea{
		width: 250px;
		height: 150px;
	}


}