@charset "utf-8";
/* CSS Document */

body {
	background-color: #931f08;
}
#contenido {
	background-color: #931f08;
	background-image: url(../imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 553px;
	width: 985px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
